altgraph
asgiref
asn1
blinker
certifi
charset-normalizer
nibabel
SimpleITK
opencv-python
matplotlib
click
contourpy
customtkinter
cycler
darkdetect
distlib
Django
easygui
enum-compat
filelock
Flask
fonttools
fsspec
idna
imageio
itsdangerous
Jinja2
kiwisolver
lazy_loader
macholib
MarkupSafe
mpmath
networkx
nibabel
numpy
opencv-python
packaging
pillow
platformdirs
plotly
pycryptodome
pyimg4
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
requests
scikit-image
scipy
SimpleITK
six
sqlparse
sympy
tenacity
tifffile
torch
torchaudio
torchvision
typing_extensions
urllib3
virtualenv
Werkzeug
